

p{
    color: rgb(56, 116, 127);
    font-size: 48px;
    text-align: center;
}
nav
{
position: relative;
top: 0%;
background-color: aquamarine;
            
        
}
body
{
background-image: url("css.jpg");

}
img
{
height: 25%;
width: 25%;
display: block;
margin-top: 250px;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
}
p
{
font-size: 48px;

font-style:initial;
}
a
{
text-decoration: none;
color: white;
font-size: 22px;

}
.darkBlue
{
background-color: rgb(43, 60, 132);

}

ul
{
list-style-type: none;
                
}
li{
                
padding: 15px;
display: inline-block;
}
li a
{
padding: 15px 16px;
}
            
            
button
{
display:block;
margin: auto;
color: white;
background-color: rgb(82, 168, 184);
height: 40px;
width: 75px;
font-size: 22px;
border-radius: 10px;
box-shadow: 0 0 10px black;
}
button:hover
{
background-color: rgb(56, 116, 127);
}